body {
	width: 100vw;
	height: 100vh;
  font-family: din-condensed, sans-serif !important;
	font-style: normal !important;
	font-weight: 300 !important;
}

.title-home {
	margin-top: 25px;
  align-content: : center;
	font-family: din-condensed, sans-serif;
	font-style: normal;
	font-weight: 300;
}

.center-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.links-thom {
  color: #808B96; !important
}

.links-thom:hover {
  font-size: 103% !important;
  text-decoration: none !important;
  color: #273746 !important;
}

.links-thom:active {
  color: #D5D8DC; !important
}

.img-home {
	margin-top: 15px;
  max-width: 100%;
}

#row-images {
	margin-top: 18px;
	max-width: 100vw;
}

.outer {
    position: relative;
    padding: 0 1vw;
	}

.little-margin {
		margin-right: 0.25vw;
		margin-left: 0.25vw;
	}

.video {
	margin-top: 15px;
	max-width: 100%;
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}
